<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>File Upload</title>
</head>
<body>
    <div class="container">
        <h1>File Upload</h1>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <label for="images">Upload Images (multiple):</label>
            <input type="file" id="images" name="images" accept="image/*" multiple>

            <label for="videos">Upload Videos (multiple):</label>
            <input type="file" id="videos" name="videos" accept="video/*" multiple>

            <label for="text_file">Select Text File:</label>
            <select id="text_file_name" name="text_file_name">
                <option value="" selected disabled>Select a text file name</option>
                {% for option in text_file_options %}
                    <option value="{{ option }}">{{ option }}</option>
                {% endfor %}
            </select>

            <label for="text_file">Upload Text File:</label>
            <input type="file" id="text_file" name="text_file" accept=".txt .pdf">
            <a href="/download" class="download-link">Get Sport Data </a>
            <button type="submit">Upload</button>
        </form>
        <form action="/games" >
            <button type="submit">Go Back to Home</button>
        </form>
    </div>
</body>
</html>
