<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="{{ url_for('static', filename='download.css') }}">
    <title>Sports Episodes</title>
</head>
<body>
    <h1>Select a Sport</h1>
    <form action="/games" >
        <button type="submit">Go Back to Home</button>
    </form>
    <form action="/episodes" method="post">
        <label for="sport">Choose a sport:</label>
        <select id="sport" name="sport">
            {% for sport in sports %}
                <option value="{{ sport }}">{{ sport }}</option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

</body>
</html>
