<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='download.css') }}">
    <title>{{ sport }} Game</title>
</head>
<body>
<form action="/games" >
    <button type="submit">Go Back to Home</button>
</form>
    <h1>{{ sport }} Game</h1>
    <ul>
        {% for episode in episodes %}
            <li>{{ episode.staff_number }} - {{ episode.name }}</li>
        {% endfor %}
    </ul>
    <form action="/download_excel" method="post">
        <input type="hidden" name="sport" value="{{ sport }}">
        <button type="submit">Download Excel</button>
    </form>
<a href="/team" class="download-link">Create teams </a>
    <br>
    </br>

</body>
</html>
