<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <button onclick="toggleLoginForm()">Open Login Form</button>
            <form action="/games" >
                <button type="submit">Go Back to Home</button>
            </form>
        <div id="loginForm" class="login-form">
            <span onclick="closeLoginForm()" class="close" title="Close Login Form">×</span>
            {% if error %}
                <p class="error">Invalid login credentials. Please try again.</p>
            {% endif %}
            <form action="{{ url_for('login') }}" method="post">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <input type="submit" value="Login">
            </form>
        </div>
    </div>
    <script>
        function toggleLoginForm() {
            var loginForm = document.getElementById('loginForm');
            loginForm.style.display = (loginForm.style.display === 'block') ? 'none' : 'block';
        }

        function closeLoginForm() {
            document.getElementById('loginForm').style.display = 'none';
        }
    </script>
</body>
</html>
